.pagination {
  padding: 46px 0 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 1rem;
  margin: 0 0.25rem;
  color: rgba(246, 246, 246, 0.65);
  letter-spacing: 1px;
  font-size: 14px;
}

.pagination__item {
  margin: 0 8px;
  width: 32px;
  height: 32px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}

.pagination__item:focus {
  outline: none;
}

.pagination__item--active {
  background-color: #b6b6b6;
  color: #313638;
}

.sides {
  box-shadow: transparent 0 0 0 1px, transparent 0 0 0 4px,
    rgba(0, 0, 0, 0.2) 0 2px 4px;
}

.sides:hover {
  text-decoration: none;
  box-shadow: transparent 0 0 0 1px, transparent 0 0 0 4px,
    rgba(0, 0, 0, 0.1) 0 6px 16px;
}
