.list {
  width: 100%;
  background-color: var(--color-secondary);
}

.list__title {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 3.2rem;
  font-weight: normal;
  letter-spacing: 1.3px;
  padding: 2rem 0;
}

.list__articles {
  padding: 0 1rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 380px));
  grid-gap: 1.8rem;
  justify-content: center;
  user-select: none;
}
