:root {
  --color-primary: #313638;
  --color-secondary: #e0dfd5;
  --color-light-grey: #e8e9eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Fredoka', sans-serif;
  font-size: 62.5%;
  background-color: var(--color-primary);
}
